form{
    border: 1px solid teal;
    margin: auto;
    width: 300px;
    padding-bottom: 20px;
}
form > input{
    display: block;
    margin: auto;
    
    margin-top: 20px;
    height: 50px;
    width: 250px;
}
#Enter{
    color: teal;
    border: 0;
}
#Enter:hover{
    background-color: teal;
    color: white;
}