form{
    width: 400px;
   
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 3% auto;
    padding: 30px 0px 30px 100px;
  
    /* background: white;
    padding: 30px 0px 30px 100px; */
  }
  
  input,
  select {
    display: block;
    margin: 15px 0px;
    /* font-size: 20px;
    padding: 2%; */
  }
  p{
      width: 270px;
  }
  #submit {
    width: 270px;
    padding: 5px;
    color: white;
    background-color: #00819d;
    border: none;
    /* border-radius: 15px; */
    font-weight: bold;
    
  }
  
  #submit:hover{
      background-color: white;
      color: #00819d;
  }
  /* .terms_and_cons {
    width: 800px;  
    color:#00819d;
    font-size: 13px;
    transition: all 0.5s;
  } */ 
  /* navbar */
  #navbar>div:nth-child(1){
        background-color: darkcyan;
        text-align: center;
        font-size: 17px;
        color: white;
        padding: 5px;
  
  }
  #navbar>div:nth-child(1)>p>a{
  color: white;
  
  }
  #navbar>div:nth-child(1)>p{
  width: 100%;
  
  }
  #head>div{
    width: auto;
    height: 90px;
    border: 1px gray solid;
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  
  
  #head>div>div>img{
    height: 80px;
  }
  
  
  input{
          width: 700px;
          height: 45px;
          border:0.5px gray solid;
          /* border-left:none ; */
  
  }
  #head>div>div:nth-child(2)>button{
    width: 50px;
    height: 45px;
    border:0.5px gray solid;
    border-right: none;
    background-color: white;
    
  cursor: pointer;
    
  }
  
  select{
    background-color: white;
    border: none;
    width: 100px;
    margin-right: 20px;
  }
  
  select>option{
  background-color:white;
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
  
  #head2{
    display: flex;
    /* border: 1px red solid; */
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    height: 30px;
  }
  
  #head2>div:nth-child(1){
    color: red;
  }
  #head2>div:nth-child(11){
    color:cornflowerblue;
  }
  
  
  #buttom{
  /* border: 1px green solid; */
  width: auto;
  height: 40px;
  }
  
  #buttom>div>h1{
    text-align:center;
  }
  #buttom>div>button{
    display: flex;
    margin: auto;
    height: 30px;
    width: 250px;
    justify-content: center;
    align-items: center;
    color: darkcyan;
    border:0.5px darkcyan solid; 
    background-color: white;   
  }
  
  #buttom>div>button:hover{
    background-color:  darkcyan;
    color: white;
  }
  
  
  #buttom>div:nth-child(2){
  
  background-color: hsl(54,35%,94%);
  width: auto;
  height: 100px;
  
  }
  
  
  
  
  #buttom>div:nth-child(2)>div>p{
  
      line-height: 5px;
  
  }
  
  
  #user>a>img{
  width: 60px;
  height: 50px;
  }
  /* changesx */
  
  #Email,#Password,#Name{
    width: 300px; 
   
  }
  /* footer */
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97.5%;
  }
  .top{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  input{
   margin-right: 20px;
   height: 35px;
   width: 270px;
  }
  p{
    margin-right: 20px;
  }
  input + input{
    background-color: #00819d;
    border: 0px;
  }
  input + input::placeholder{
  color: white;
  text-align: center;
  }
  #container{
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(1, 420px);
  
  }
  #container >div{
  /* border: 1px solid green; */
  /* margin-top: -5px; */
  width: auto;
  background-color: rgb(249, 247, 247);
  }
  
  h3{
    margin-left: 17px;
  font-size: 1.2rem;
  font-family: Brandon Text,Arial,sans-serif;
  color: #393939;
  font-weight: 700;
  }
  #container >div >p{
    margin-left: 19px;
    font-family: Brandon Text,Arial,sans-serif;
   font-weight: 400;
  line-height: 1.4;
  color: #393939;
  }
  #container >div >p:hover{
    cursor: pointer;
    color:#00819d ;
    text-decoration-line:underline ;
  }
  .last{
    display: flex;
    /* border: 5px solid black; */
    width: 100%;
    height: 50px;
    padding-left: 40px;
    gap: 20px;
    font-family: Brandon Text,Arial,sans-serif;
    color: #393939;
    font-weight: 400;
    background-color: rgb(249, 247, 247);
  }
  .last>p:hover{
    cursor: pointer;
    color:#00819d ;
    text-decoration-line:underline ;
  }
  .social>button{
  background-color: white;
   margin-top: 30px;
   border: 1.5px solid black;
   border-radius: 50%;
  margin-right: 20px;
  
  }
  .phone>button{
    display: flex;
    /* border: 5px solid yellowgreen; */
     border: 0px;
    margin-top: 30px;
    background-color: white;
    background-color: rgb(249, 247, 247);
  }
  .phone>button>p{
   margin-top: -2px;
  margin-left: 20px;
  font-family: Brandon Text,Arial,sans-serif;
    color: #393939;
    font-weight: 400;
     font-size: 15px;
    background-color: rgb(249, 247, 247);
    
  }
  .social>button:hover{
    cursor: pointer;
    color:#00819d ;
    text-decoration-line:underline ;
    border-color: #00819d;
  }
  .phone>button>p:hover{
    cursor: pointer;
    color:#00819d ;
    text-decoration-line:underline ;
  }
  img+div{
    display: flex;
    position: absolute;
    margin-left: 50%;
    top: 850px;
    font-family: Brandon Text,Arial,sans-serif;
    color: #393939;
    font-weight: 400;
     font-size: 15px;
     text-decoration-line: underline;
  }
  img+div:hover{
    cursor: pointer;
    text-decoration-style: double;
  } 
  /* navbar */
  #navbar>div:nth-child(1){
  background-color: darkcyan;
  text-align: center;
  font-size: 17px;
  
  color: white;
  padding: 5px;
  
  }
  #navbar>div:nth-child(1)>p{
  width: 100%;
  }
  #navbar>div:nth-child(1)>p>a{
  color: white;
  
  
  }
  #head>div{
  width: auto;
  height: 90px;
  border: 1px gray solid;
  display: flex;
  
  align-items: center;
  justify-content: space-evenly;
  }
  
  #head>div>div>img{
  height: 80px;
  }
  
  input{
  width: 300px;
  height: 45px;
  border:0.5px gray solid;
  /* border-left:none ; */
  
  }
  #head>div>div:nth-child(2)>button{
  width: 50px;
  height: 45px;
  border:0.5px gray solid;
  border-right: none;
  background-color: white;
  
  cursor: pointer;
  
  }
  select{
  background-color: white;
  border: none;
  width: 100px;
  margin-right: 20px;
  }
  
  select>option{
  background-color:white;
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
  
  #head2{
  display: flex;
  /* border: 1px red solid; */
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  height: 30px;
  }
  
  #head2>div:nth-child(1){
  color: red;
  }
  #head2>div:nth-child(11){
  color:cornflowerblue;
  }
  
  
  #buttom{
  /* border: 1px green solid; */
  width: auto;
  height: 40px;
  }
  
  #buttom>div>h1{
  text-align:center;
  }
  #buttom>div>button{
  display: flex;
  margin: auto;
  height: 30px;
  width: 250px;
  justify-content: center;
  align-items: center;
  color: darkcyan;
  border:0.5px darkcyan solid; 
  background-color: white;   
  }
  
  #buttom>div>button:hover{
  background-color:  darkcyan;
  color: white;
  }
  
  
  #buttom>div:nth-child(2){
  
  background-color: hsl(54,35%,94%);
  width: auto;
  height: 100px;
  
  }
  
  
  
  
  #buttom>div:nth-child(2)>div>p{
  
    line-height: 5px;
  
  }
  
  
  #user>a>img{
  width: 60px;
  height: 50px;
  } 
  #search>input{
    width: 600px;
  } 
  #sign{
    display: flex;
    /* margin-bottom: -100px; */
  }