
  #navbar>div:nth-child(1){
        background-color: darkcyan;
        text-align: center;
        font-size: 17px;
        color: white;
        padding: 5px;

  }
  #navbar>div:nth-child(1)>p>a{
color: white;

  }

#head>div{
    width: auto;
    height: 90px;
    border: 1px gray solid;
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
}




#head>div>div>img{
    height: 80px;
}


input{
          width: 700px;
          height: 45px;
          border:0.5px gray solid;
          border-left:none ;

}
#head>div>div:nth-child(2)>button{
    width: 50px;
    height: 45px;
    border:0.5px gray solid;
    border-right: none;
    background-color: white;
    
  cursor: pointer;
    
}

select{
    background-color: white;
    border: none;
    width: 100px;
    margin-right: 20px;
}

select>option{
 background-color:white;
 color: gray;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#head2{
    display: flex;
    /* border: 1px red solid; */
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    height: 30px;
}

#head2>div:nth-child(1){
    color: red;
}
#head2>div:nth-child(11){
    color:cornflowerblue;
}


#buttom{
/* border: 1px green solid; */
width: auto;
height: 40px;
}

#buttom>div>h1{
    text-align:center;
}
#buttom>div>button{
    display: flex;
    margin: auto;
    height: 30px;
    width: 250px;
    justify-content: center;
    align-items: center;
    color: darkcyan;
    border:0.5px darkcyan solid; 
    background-color: white;   
}

#buttom>div>button:hover{
    background-color:  darkcyan;
    color: white;
}


#buttom>div:nth-child(2){

background-color: hsl(54,35%,94%);
width: auto;
height: 100px;

}




#buttom>div:nth-child(2)>div>p{
  
      line-height: 5px;

}


#user>a>img{
width: 60px;
height: 50px;
}
